<header>
    <a href = "/" style="text-decoration: none;">
        <img src="/images/icon.png" style="width:6%">
    </a>
    <form style="display: inline-block;">
        <input type="text" placeholder="搜尋" style="width:300%;height:100%">
        <button style="height:40px;width:50px" type=submit>
            <i class="fas fa-search"></i>
        </button>
    </form>
    <button style="margin-left:220px;height:40px;font-size:130%;border:1px solid DodgerBlue;border-radius:7px">
        <i class="fas fa-sign-in-alt"></i>
    </button>
</header>
<hr>
