<header class="nav">
	<div class="col-1">
		<a href="/">
            <img class="nav-logo" src="/images/icon.png"/>
        </a>
    </div>
	<div class="col-9">
		<form id="search" action="/search" method="GET">
			<div class="form-group">
				<input type="text" placeholder="搜尋" name="search_query"/>
				<button>
                    <i class="fas fa-search"></i>
                </button>
			</div>
		</form>
	</div>
	<div class="col-2" id="login">
		<button>
            <i class="fas fa-sign-in-alt"></i>
            &nbsp;登入
        </button>
	</div>
</header>
