<!DOCTYPE html>
<html lang = "zh_TW">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
	<style>
		.yt_box{
			width:240px;
			height:180px;
			display:inline-block;
			margin-bottom:100px;
			margin-left:8px;
			margin-right:8px;
		}
		.yt_link:link, .yt_link:visited, .yt_link:hover, .yt_link:active {
			color: black; 
			background-color: transparent; 
			text-decoration: none;
		}
	</style>
</head>
<body style="font-family:Roboto, Arial, sans-serif;">
	<%- include('header') %>

<div style = "margin-left:100px">
		<div class="yt_box">
			<a href = "https://www.youtube.com/watch?v=gwMa6gpoE9I" class = "yt_link">
				<img src="http://img.youtube.com/vi/gwMa6gpoE9I/0.jpg" style = "width:100%">
				<p title = "BTS (방탄소년단) 'ON' Kinetic Manifesto Film : Come Prima" style="text-align:center;margin-bottom: 40px">BTS (방탄소년단) 'ON' Kinetic Manifesto Film : Come Prima</p>
			</a>
		</div>
		
	</div>
</body>
</html>
