<!DOCTYPE html>
<html lang="zh" style="height: 100%">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
	<link rel="stylesheet" href="/stylesheets/header.css" />
    <script src="/javascripts/header.js"></script>
    <style>
		* {
			font-family:Roboto, Arial, sans-serif;
		}
		.yt_link:link, .yt_link:visited, .yt_link:hover, .yt_link:active {
			color:black;
			background-color: transparent;
  			text-decoration: none;
		}
		.yt_des {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	</style>
</head>

<body style="height: 100%">
	<%- include('header') %>	
	<div style="width:70%;height:100%;display:inline-block">
		<iframe width=97% height=70% src="https://www.youtube.com/embed/gwMa6gpoE9I?rel=0&autoplay=1" frameborder="0" allowfullscreen=""></iframe>
		<p style="font-size:18px">BTS (방탄소년단) 'ON' Kinetic Manifesto Film : Come Prima</p>
		<hr>
	</div>
	<div style="width:25%;display:inline-block;position:absolute;top:12%;">
		<div>
			<div style="display:inline-block;width:55%">
				<a title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" class="yt_link">
					<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width:100%">
				</a>
			</div>
			<div style="display:inline-block;width:40%">
				<div style="display:inline-block;width:100%;padding-left:3%;position:absolute;top:0%">
					<a title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" class="yt_link">
							<p style="font-size:14px;display:inline-block;width:40%" class="yt_des">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
					</a>
				</div>
			</div>
		</div>

	</div>
</body>

</html>
