<!DOCTYPE html>
<html lang="zh">
	<head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
        <link rel="stylesheet" href="/stylesheets/header.css" />
        <link rel="stylesheet" href="/stylesheets/play.css" />
        <script src="/javascripts/header.js"></script>
	</head>
	<body>
        <%- include('header') %>
        <div id="main">
			<div id="yt_view">
				<iframe src="https://www.youtube.com/embed/ctfEmKL8beE?autoplay=1"></iframe>
				<div id="title">Aqoursメンバーの物真似をする 斉藤朱夏、高槻かなこ、小林愛香</div>
				<pre id="lyrics">abc def ggg</pre>
			</div>
			<div id="sidebar">
				<div class="recommend">
					<div>
                        <a class="yt_link" href="#">
                            <img class="thumbnail" src="https://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg"/>
                        </a>
                    </div>
					<div class="sideinfo">
                        <a class="yt_link yt_des" href="#">
                            孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video
                        </a>
                        <a class="yt_link yt_des singer" href="#">
                            Aqours
                        </a>
                    </div>
				</div>
			</div>
		</div>
	</body>
</html>
