<!DOCTYPE html>
<html lang="zh" style="height: 100%">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
	<link rel="stylesheet" href="/stylesheets/header.css" />
    <script src="/javascripts/header.js"></script>
    <style>
		* {
			font-family:Roboto, Arial, sans-serif;
		}
		.yt_link:link, .yt_link:visited, .yt_link:hover, .yt_link:active {
			color:black;
			background-color: transparent;
  			text-decoration: none;
		}
		.yt_des {
			font-size: 14px;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.all_block {
			display: flex;
			height: 100%;
		}
		.video_block {
			display: flex;
			width: 65%;
			height: 100%;
		}
		.list_block {
			width: 32%;
			display: flex;
			flex-direction: column;
		}
		.vt_block {
			width: 100%;
			display: flex;
			flex-direction: row;
			justity-content: flex-start;
		}
		.pic_block {
			width: 50%;
			display: flex;
		}
		.name_block {
			width: 47%;
			display: flex;
			flex-direction: column;
		}
	</style>
</head>

<body style="height: 100%">
	<%- include('header') %>
	<div class="all_block">
		<div class="video_block">
			<iframe width="97%" height="70%" src="https://www.youtube.com/embed/gwMa6gpoE9I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		
		<div class="list_block">
			<div class="vt_block">
				<div class="pic_block">
					<a href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4">
						<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width: 100%;">
					</a>
				</div>

				<div class="name_block">
					<a href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" class="yt_link">
						<p class="yt_des">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
					</a>
					<p>I do that</p>
				</div>
			</div>
			<div class="vt_block">
				<div class="pic_block">
					<a href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4">
						<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width: 100%;">
					</a>
				</div>

				<div class="name_block">
					<a href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" class="yt_link">
						<p class="yt_des">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
					</a>
					<p class="yt_des">I do that</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
