<!DOCTYPE html>
<html lang = "zh_TW">

<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
	<style>
		* {
			font-family:Roboto, Arial, sans-serif;
		}
		.yt_link:link, .yt_link:visited, .yt_link:hover, .yt_link:active {
			color:black;
			background-color: transparent;
  			text-decoration: none;
		}
	</style>
</head>

<body>
	<% include('header') %>	
	<div style="width:980px;height:550px;display:inline-block">
		<iframe width="966" height="543" src="https://www.youtube.com/embed/gwMa6gpoE9I?rel=0&autoplay=1" frameborder="0" allowfullscreen=""></iframe>
		<p style="font-size:18px">BTS (방탄소년단) 'ON' Kinetic Manifesto Film : Come Prima</p>
		<hr>
	</div>
	<div style="width:300px;display:inline-block;position:absolute;top:100px">
		<a title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" class="yt_link">
			<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width:168px">
			<p style="font-size:14px;text-overflow: ellipsis;overflow:hidden;display:inline-block;width:120px">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
		</a>
	</div>
	<div style="width:300px;display:inline-block;position:absolute;top:100px">
		<a title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" class="yt_link">
			<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width:168px">
			<p style="font-size:14px;text-overflow: ellipsis;overflow:hidden;display:inline-block;width:120px">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
		</a>
	</div>
	<div style="width:300px;display:inline-block;position:absolute;top:100px">
		<a title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" class="yt_link">
			<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width:168px">
			<p style="font-size:14px;text-overflow: ellipsis;overflow:hidden;display:inline-block;width:120px">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
		</a>
		<a title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" class="yt_link">
			<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width:168px">
			<p style="font-size:14px;text-overflow: ellipsis;overflow:hidden;display:inline-block;width:120px">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
		</a>
		<a title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" class="yt_link">
			<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width:168px">
			<p style="font-size:14px;text-overflow: ellipsis;overflow:hidden;display:inline-block;width:120px">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
		</a>
		<a title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" class="yt_link">
			<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width:168px">
			<p style="font-size:14px;text-overflow: ellipsis;overflow:hidden;display:inline-block;width:120px">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
		</a>
		<a title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" class="yt_link">
			<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width:168px">
			<p style="font-size:14px;text-overflow: ellipsis;overflow:hidden;display:inline-block;width:120px">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
		</a>
		<a title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" class="yt_link">
			<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width:168px">
			<p style="font-size:14px;text-overflow: ellipsis;overflow:hidden;display:inline-block;width:120px">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
		</a>
		
	</div>
</body>

</html>
