<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
    <script src="/javascripts/header.js"></script>
	<style>
		* {
			font-family:Roboto, Arial, sans-serif;
		}
		.yt_link:link, .yt_link:visited, .yt_link:hover, .yt_link:active {
			color:black;
			background-color: transparent;
  			text-decoration: none;
		}
		.yt_des {
			word-break: break-all;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
		}
		.main_block {
			display: flex;
			padding-left: 10%;
			flex-direction: column;
		}
		.ret_block {
			display: flex;
			flex-direction: row;
		}
		.img_block {
			display: flex;
			width: 20%;
		}
		.info_block {
			display: flex;
			width: 50%;
			flex-direction: column;
			padding-left: 1%;
		}
	</style>
</head>

<body>
	<%- include('header') %>
	<br>
	<div class="main_block">
		<div class="ret_block">
			<div class="img_block">
				<a href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4">
					<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width: 100%;">
				</a>
			</div>

			<div class="info_block">
				<div>
					<a href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" class="yt_link">
						<p class="yt_des" style="font-size: 18px;">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
					</a>
				</div>

				<div>
					<pi style="font-size: 13px;">I do that</p>
				</div>

				<div>
					<p style="font-size: 13px;" class="yt_des">jewfhkwjhfkhwrfurhuireuhguirheguihreigirheighirehgiurheuigurehgiurehgiiiiiiiiiiiiiihguirehgirehiuvreuvguerhviuhrieuhvierihgiurehgiuhreiguhiuregurhiurehgiureewfhjkwrfhkjwhefkjhekwfhkehrwkfhwefhjwnfkjwnrbfkjenrwkfrekgferbgjkrbekjgjkrebgjkbrekgberbgejkrbgejkrbgjkerbgejkqrbgjker</p>
				</div>
			</div>
		</div>
		<div class="ret_block">
			<div class="img_block">
				<a href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4">
					<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width: 100%;">
				</a>
			</div>

			<div class="info_block">
				<div>
					<a href="https://www.youtube.com/watch?v=ZOxmzpE0Vz4" title="孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video" class="yt_link">
						<p class="yt_des" style="font-size: 18px;">孫盛希 Shi Shi【逃 Come Away】電視劇「想見你」插曲 Official Music Video</p>
					</a>
				</div>

				<div>
					<pi style="font-size: 13px;">I do that</p>
				</div>

				<div>
					<p style="font-size: 13px;" class="yt_des">jewfhkwjhfkhwrfurhuireuhguirheguihreigirheighirehgiurheuigurehgiurehgiiiiiiiiiiiiiihguirehgirehiuvreuvguerhviuhrieuhvierihgiurehgiuhreiguhiuregurhiurehgiureewfhjkwrfhkjwhefkjhekwfhkehrwkfhwefhjwnfkjwnrbfkjenrwkfrekgferbgjkrbekjgjkrebgjkbrekgberbgejkrbgejkrbgjkerbgejkqrbgjker</p>
				</div>
			</div>
		</div>
	</div>


</body>

</html>
