<!DOCTYPE html>
<html lang="zh_TW">

<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/header.css" />
	<style>
		* {
			font-family:Roboto, Arial, sans-serif;
		}
		.yt_link:link, .yt_link:visited, .yt_link:hover, .yt_link:active {
			color:black;
			background-color: transparent;
  			text-decoration: none;
		}
	</style>
</head>

<body>
	<%- include('header') %>
	<div style="width:100%;position:relative;left:5.7%">
		<img src="http://img.youtube.com/vi/ZOxmzpE0Vz4/0.jpg" style="width:20%;">
	</div>


</body>

</html>
