html {
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.button_block {
    display: -webkit-box;
    display: flex;
    margin-left: 3%;
    -webkit-box-pack: center;
    justify-content: center;
    color: #0f273d;
    font-family: 'Lato', sans-serif;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

.swappy-radios label {
    display: block;
    position: relative;
    padding-left: 4rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    width: 10rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #555;
}
.swappy-radios label:hover input ~ .radio {
    opacity: 0.8;
}
.swappy-radios input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.swappy-radios input:checked ~ span {
    color: #0bae72;
    -webkit-transition: color .5s;
    transition: color .5s;
}
.swappy-radios input:checked ~ .radio {
    background-color: #0ac07d;
    opacity: 1 !important;
}
.swappy-radios input:checked ~ .radio::after {
    opacity: 1;
}
.swappy-radios .radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.8rem;
    width: 1.8rem;
    background: #c9ded6;
    border-radius: 50%;
}
.swappy-radios .radio::after {
    display: block;
    content: '';
    position: absolute;
    opacity: 0;
    top: .5rem;
    left: .5rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: #fff;
}



* {
    font-family:Roboto, Arial, sans-serif;
}
.yt_link:link, .yt_link:visited, .yt_link:hover, .yt_link:active {
    color:black;
    background-color: transparent;
    text-decoration: none;
}
.yt_des {
    word-break: break-all;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.main {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.flex-container {
    display: flex;
}
#result {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.ret_block {
    display: flex;
    flex-direction: row;
}
.img_block {
    display: flex;
    width: 20%;
}
.info_block {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-left: 1%;
}
body {
    background: #f8f8f8;
}
.singer {
    font-size: 0.8rem;
    color: #888;
}
.lyrics {
    font-size: 0.8rem;
}
.title {
    font-size: 1.1rem;
}
